@charset"UTF-8";
@media screen and (max-width:670px) {

* {
	float: none;
	position: static;

}
body{
	width: 100%;
}
img {
	max-width: 100vw;
	height: auto;
}
header{
	padding-top: 3vh;

}
h3{
	margin: 0 0 0 0%;
	height: 10%;
}

#profile{
	height: 230vh;
	width: 100%;
	padding-bottom: ;
}
.slideBox{
	padding-bottom: 100vh;
	width: 100%;
	height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
	margin:0;
	display:flex;
	flex-direction: column;
}
.title h1{
	margin: 0 0 0 0;
	text-align: center;

}
.name{
	order: 2;
}
.iconmein{
	order: 1;
}
#icons1{
	order: 3;
}
.name p{
	line-height: 20pt;
	font-size: 15pt;
}

.iconmein{
	margin-top: 10vh;
}
#icons1{
	margin: 0;
}
.icon1 p{
	font-size: 15pt;
}
/*リクエスト*/
#request{
	width: 100%;
	height: 200vh;
}
.linkicon2{
	display:block;
	margin: 10vh 0 0 0 ;
}
.icon2{
	padding: 20%;
	margin-top: -1em;
}


/*////ショップ////*/
#shop{
width: 100%;
height:250vh;
padding: 0 0 0 0;
}
#shop h3{
	height: 5%;
}
.icon3{
	width: 50%;
	height: 50%;
	margin-top: 5em;
}

#shopbig{
	padding: 0;
	margin: 5% 0 0 25%;
	width: 50%;
	height: 50%;
	display:flex;
	flex-direction: column;
	position: relative;
}
#order1{
	order: 1;
}
.order2{
	order: 2;
}
#order3{
	order: 3;
}
.order4{
	order: 4;
}
#shop a{
	display: flex;
	width: 130%;

}
#shop img{
	height: 100%;
}
.shopmin {
	margin:10px 0 0 10%;
	font-size: 15pt;
	line-height: 20pt;
}
.shopmin p{
	width: 200px;
}
.icon3{
	height: 50%;
	width: 50%;
}
.shopmin{
	text-align: left;
	font-size: 15pt;
	line-height: 20pt;
}
.shopmin h5{
	padding: 0;
	margin: 0;
}

/*/////仕事////*/
#works{
	width: 100%;
	height: 200vh;
	margin: 0;
	padding: 0 0 0 -1em;
}
.sigoto{
	margin-left: 30%;
	display: flex;
	flex-direction: column;
}
.sakuhin{
	order: 2;
	width: 70%;
	height: 70%;
	display: grid;
	gap: 0px;
	margin: 10% 0 0 0;
	padding: 0;
	grid-auto-columns: 1fr 1fr;
}
#bosyu{
	order: 1;
	width: 100vw;
	height: auto;
	margin: 0 0 -5em 0;
	text-align: center;
}
.icon4 {

}
footer{
	width: 100%;
}

}
